<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">
<title>顧客情報更新確認</title>
</head>
<body>

<h2>顧客情報更新（確認）</h2>

<p>以下の内容で更新してよろしいですか？</p>

<table border="1">
    <tr><th>ID</th><td th:text="${customer.customerId}"></td></tr>
    <tr><th>氏名</th><td th:text="${customer.name}"></td></tr>
    <tr><th>電話番号</th><td th:text="${customer.phone}"></td></tr>
    <tr><th>メール</th><td th:text="${customer.email}"></td></tr>
    <tr><th>住所</th><td th:text="${customer.address}"></td></tr>
</table>

<br>

<!-- 更新実行 -->
<form th:action="@{/customer/update/result}" method="post">
    <input type="hidden" name="customerId"
           th:value="${customer.customerId}">
    <input type="hidden" name="name"
           th:value="${customer.name}">
    <input type="hidden" name="phone"
           th:value="${customer.phone}">
    <input type="hidden" name="email"
           th:value="${customer.email}">
    <input type="hidden" name="address"
           th:value="${customer.address}">

    <input type="submit" value="更新する">
</form>

<!-- 修正する -->
<form th:action="@{/customer/update}" method="post">
    <input type="hidden" name="customerId"
           th:value="${customer.customerId}">
    <input type="submit" value="戻って修正">
</form>
<p><a href="employee_exclusive">従業員ページへ戻る</a></p>
</body>
</html>
