<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>車情報編集</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="employee-page">

<div class="employee-container confirm-box">

    <h2 class="title">車情報編集</h2>

    <!-- 更新フォーム -->
    <form th:action="@{/car_update}" method="post">

        <input type="hidden" name="id" th:value="${car.id}">

        <label>登録番号</label>
        <input type="text" name="plate_num" th:value="${car.plate_num}">

        <label>ブランド</label>
        <input type="text" name="brand" th:value="${car.brand}">

        <label>モデル</label>
        <input type="text" name="model" th:value="${car.model}">

        <label>座席数</label>
        <input type="number" name="seats" th:value="${car.seats}">

        <label>価格</label>
        <input type="number" name="price" th:value="${car.price}">

        <label>状態</label>
        <select name="status">
            <option th:value="available" th:selected="${car.status=='available'}">予約可能</option>
            <option th:value="rented" th:selected="${car.status=='rented'}">貸出中</option>
            <option th:value="maintenance" th:selected="${car.status=='maintenance'}">整備中</option>
        </select>

        <!-- ボタン横並び -->
        <div class="button-group">
            <button type="submit"
                    formaction="/car_delete_success"
                    formmethod="post"
                    onclick="return confirm('本当に削除しますか？');"
                    class="btn btn-danger">
                削除
            </button>

            <button type="submit"
                    onclick="return confirm('この内容で更新しますか？');"
                    class="btn btn-main">
                更新
            </button>
        </div>

    </form>

   

</div>
<p>
		<a href="all_select" class="btn-sub">車両管理TOPへ戻る</a>
		<a href="/employee_exclusive" class="btn-sub">従業員TOPへ戻る</a>
	</p>
</body>
</html>
