<!DOCTYPE html>


<html>
	


	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css">
		<title>入力内容確認</title>
	</head>
	
	
	
	<body>
	
		<p>入力内容の確認</p>
		<p th:text="'登録番号：' + ${session.ec.plate_num}"></p>

		<p th:text="'ブランド：' + ${session.ec.brand}"></p>
		<p th:text="'モデル：' + ${session.ec.model}"></p>
		<p th:text="'座席数：' + ${session.ec.seats}"></p>
		<p th:text="'価格：' + ${session.ec.price}"></p>
		<p th:text="'車両状態：' + ${session.statusText}"></p>
		

		<p><a href="car_input.html">入力をやり直す</a></p>
		<p><a href="car_insert_result">この情報を登録する</a></p>
		
		<p><a href="car_kannri.html">車両管理TOPへ戻る</a></p>
		<p><a href="/employee_exclusive">ＴＯＰへ戻る</a></p>
		
	</body>

</html>