<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>顧客情報更新</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="employee-page">

<div class="employee-container confirm-box">

    <h2 class="title">顧客情報更新</h2>

    <!-- エラー表示 -->
    <div th:if="${error}">
        <p class="error-message" th:text="${error}"></p>
    </div>

    <form th:action="@{/customer_update_confirm}" method="post">

        <!-- 顧客ID（表示＋hidden） -->
        <p>顧客ID：<span th:text="${cu.customerId}"></span></p>
        <input type="hidden" name="customerId" th:value="${cu.customerId}">

        <label>氏名</label>
        <input type="text" name="name" th:value="${cu.name}">

        <label>電話番号</label>
        <input type="text" name="phone" th:value="${cu.phone}">

        <label>メール</label>
        <input type="text" name="email" th:value="${cu.email}">

        <label>住所</label>
        <input type="text" name="address" th:value="${cu.address}">

        <label>パスワード</label>
        <input type="text" name="password" th:value="${cu.password}">

        <!-- 上段：削除＋更新 -->
        <div style="display:flex; justify-content:center; gap:20px; margin-top:30px;">

            <!-- 削除 -->
            <button type="submit"
                    formaction="/customer_delete_confirm"
                    formmethod="post"
                    onclick="return confirm('本当に削除しますか？');"
                    class="btn btn-danger">
                削除
            </button>

            <!-- 更新 -->
            <button type="submit"
                    onclick="return confirm('この内容で更新しますか？');"
                    class="btn btn-main">
                更新
            </button>

        </div>

    </form>

 

</div>
<p>
		<a href="car_kannri.html" class="btn-sub">戻る</a>
		<a href="/employee_exclusive" class="btn-sub">従業員TOPへ戻る</a>
	</p>
</body>
</html>
