<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>顧客管理</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">
        <h2 class="title">顧客管理メニュー</h2>

        <div class="menu-buttons">
            <a th:href="@{/customer_info}" class="btn">顧客情報照会</a>
            <a th:href="@{/customer_register}" class="btn">新規登録</a>
        </div>
    </div>
	<p><a href="employee_exclusive">従業員ページへ戻る</a></p>
</body>

</html>
	