<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css">
<head>
<meta charset="UTF-8">
<title>顧客一覧</title>
</head>
<body>

<h2>顧客一覧</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>電話番号</th>
        <th>メール</th>
        <th>住所</th>
        <th>操作</th>
    </tr>

    <!-- ★ ここが重要 -->
	<tr th:each="customer : ${all_customer}">
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>

		<td>
		  <a th:href="@{/customer_update(id=${customer.customerId})}">修正</a>
<!--		  <a th:href="@{/customer_delete_confirm(id=${customer.customerId})}">削除</a>-->
		</td>
    </tr>
</table>

<p><a href="/customer" class="btn-sub">戻る</a></p>
<p><a href="/employee_exclusive" class="btn-sub">従業員ページへ戻る</a></p>

</body>
</html>
