<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">
<title>顧客登録確認</title>
</head>
<body>

<h2>登録内容確認</h2>



<form th:action="@{/customer/register/result}" method="post">
    <input type="hidden" name="name" th:value="${customer.name}">
    <input type="hidden" name="phone" th:value="${customer.phone}">
    <input type="hidden" name="email" th:value="${customer.email}">
    <input type="hidden" name="address" th:value="${customer.address}">

    <p>名前：<span th:text="${customer.name}"></span></p>
    <p>電話：<span th:text="${customer.phone}"></span></p>
    <p>メール：<span th:text="${customer.email}"></span></p>
    <p>住所：<span th:text="${customer.address}"></span></p>

    <button type="submit">登録</button>
</form>



<form th:action="@{/customer/register}" method="get">
    <input type="submit" value="戻る">
</form>

</body>
</html>
