<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">
<title>顧客登録</title>
</head>
<body class="employee-page">

<div class="employee-container">
    <div class="container">

        <h2 class="title">顧客登録</h2>

        <form th:action="@{/customer_register_confirm}" method="post">

            <label>名前</label>
            <input type="text" name="name">

            <label>電話</label>
            <input type="text" name="phone">

            <label>メール</label>
            <input type="text" name="email">

            <label>住所</label>
			<input type="text" name="address">
			
			<label>パスワード</label>
            <input type="text" name="password">

			<input type="submit" value="確認" class="rect-btn btn-small center-btn">


        </form>

    </div>
</div>

<a href="/customer" class="btn-sub">戻る</a>
<a href="/employee_exclusive" class="btn-sub">従業員ページへ戻る</a>


</body>

</html>
