<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <title>ログイン</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	
	<body>
			
		<div class="login-wrapper">
		        <div class="login-box">
					<h3>IDとパスワードを入力してください。初めての方は「新規登録」をクリックしてください。</h3>	            
					<form action="/login_employee" method="post">
		                <label for="id">ID</label>
		                <input type="text" id="id" name="id" placeholder="IDを入力">

		                <label for="password">パスワード</label>
		                <input type="password" id="password" name="password" placeholder="パスワードを入力">

		                <input type="submit" value="ログイン">
						
		            </form>
					<form action="/customer_register" method="post">
					   <input type="submit" value="新規登録">
					</form>

		            <a href="index.html" class="back-link">トップへ戻る</a>
		        </div>
		    </div>
			<div class="button-area">
		        <a href="/" class="btn-login">トップへ戻る</a>
		    </div>
	</body>
</html>