<!DOCTYPE html>
<divhtml xmlns:th="http://www.thymeleaf.org">
	
	<head>
	    <meta charset="UTF-8">
	    <title>予約入力・一覧</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<div class="container reserve-page">

	
			<h2>予約入力</h2>
			
			<form th:action="@{/reserve_confirm}" method="post">
		
			    顧客ID：
			    <input type="number" name="c_id"><br>
			
			    車ID：
			    <input type="number" name="car_id"><br>
			
			    開始日：
			    <input type="date" name="rent_sDate"><br>
			
			    返却日：
			    <input type="date" name="rent_eDate"><br>
			
			    状態：
			    <select name="status">
			        <option value="ongoing">予約中</option>
			        <option value="returned">返却済</option>
			        <option value="cancelled">キャンセル</option>
			    </select>
			    <br>
			
			    <input type="submit" value="登録">
			</form>
			
		
			
			<hr>
			
			<h2>予約一覧</h2>
			
			<table>
						
						<tr><th>オーダーID</th> <th>顧客ID</th><th>車両ID</th><th>開始日</th> <th>返却日</th> <th>状態</th> <th>編集</th><th>詳細</th> 
						</tr>

						<tr th:each="res : ${all_res}">
							<td th:text="${res.res_id}"></td>
							<td th:text="${res.c_id}"></td>
						    <td th:text="${res.car_id}"></td>
						    <td th:text="${res.rent_sDate}"></td>
							<td th:text="${res.rent_eDate}"></td>
							<td th:switch="${res.status}">
							    <span th:case="'ongoing'">予約中</span>
							    <span th:case="'returned'">返却済</span>
							    <span th:case="'cancelled'">キャンセル</span>
							</td>
							<td>
							  <a th:href="@{/reserve_update(id=${res.res_id})}">編集</a>
							</td>
							<td>
							  <a th:href="@{/reserve_info(id=${res.res_id})}">詳細</a>
							</td>
						</tr>
						
					</table>
			
		</div>
		<p>
					
					<a href="/employee_exclusive" class="btn-sub">従業員TOPへ戻る</a>
				</p>
				
	</body>
	
</html>
