<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>予約内容確認</title>
	</head>
	
	<body>
	
		<h2>以下の内容で予約しますか？</h2>
		
		<table>
		    <tr>
		        <th>顧客ID</th>
		        <td th:text="${customerId}"></td>
		    </tr>
		    <tr>
		        <th>車ID</th>
		        <td th:text="${carId}"></td>
		    </tr>
		    <tr>
		        <th>開始日</th>
		        <td th:text="${rentStart}"></td>
		    </tr>
		    <tr>
		        <th>返却日</th>
		        <td th:text="${rentEnd}"></td>
		    </tr>
		    <tr>
		        <th>状態</th>
		        <td th:text="${status}"></td>
		    </tr>
		</table>

		
		<br>
		
		<!-- 確定ボタン -->
		<form th:action="@{/reserve_result}" method="post">
		    <input type="hidden" name="customerId" th:value="${customerId}">
		    <input type="hidden" name="carId" th:value="${carId}">
		    <input type="hidden" name="rentStart" th:value="${rentStart}">
		    <input type="hidden" name="rentEnd" th:value="${rentEnd}">
		    <input type="hidden" name="status" th:value="${status}">
		    <input type="submit" value="この内容で予約する">
		</form>
		
		<!-- 戻るボタン -->
		<form th:action="@{/reserve_input}" method="get">
		    <input type="submit" value="入力画面に戻る">
		</form>
	
	</body>
</html>
